h1{
    font-family:sans-serif;
    font-style: italic;
    color:darkgrey;
}

table{
    font-family:serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style:solid;
    border-color: #2695A6;
}

th{
    font-weight: 800;
    background-color:lavender;
    color:black;
}

td{
    background-color: ghostwhite;
}